*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:rgb(181, 226, 21);
    --text-color:rgb(97, 127, 7);
}  
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card{
    min-width:500px;
    min-height:300px;
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transform: 0.5s;
}
.card .circle{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    overflow: hidden;
}
.card .circle::before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:var(--primary-color); 
    clip-path: circle(120px at center);
    transition: 0.5s;
}
.card:hover .circle:before{
    border-radius: 10px;
    background-color: aquamarine;
    clip-path: circle(400px at center);;
}
.card img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 60%;
    pointer-events: none;
    transition: 0.5s;
}
.card:hover img{
    left:75%;
    height: 600px;
}
.card .contents{
    width: 365px;
    left:5%;
    position: relative;
    padding:20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.card:hover .contents{
    opacity: 1;
    visibility: visible;
    left:0;
}
.card .contents h2{
    color:var(--text-color);
    text-transform: uppercase;
    font-size: 4vh;
}
.card .contents p{
    color:var(--text-color);
    margin-bottom: 4vh;
    line-height: 3.5vh;
    transition: 1s ease-in-out;
}
.card .contents a{
    background-color: white;
    padding: 1vh 2vw 1vh 2vw;
    margin-top: 2vh;
    text-decoration: none;
    border-radius: 5px;
    color:var(--text-color);
    transition: 1s ease-in-out;
    font-weight: bold;
}
.card .contents a:hover{
   color: white;
   background-color:var(--text-color); 
   border-radius: 5px;
   border: 3px solid white;
}
@media (max-width: 768px){
    .card{
        width:auto;
        max-width: 400px;
        align-items: flex-start;
    }
   .card:hover {
    height: 500px;
   }
   .card .contents{
    width: 100%;
    padding: 40px;
   }
   .card:hover img{
    left:50%;
    top:65%;
    height: 600px;
   }
   .card .contents h2{
    margin-left: 10vw;
}
.card .contents p{
    margin-top: 2vh;
    margin-left: 10vw;
    width: 90%;
    line-height: 4vh;
    font-size: 3.5vh;
}
.card .contents a{
    margin-left: 10vw;
    margin-top: 2vh;
    padding: 1.5vh 10vw 1.5vh 10vw;
}
}